
# Terraform local/cache files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.tfvars
!*.tfvars.example

# Terraform generated artifacts
*.zip
infra/lambda.zip
infra/pdf_layer.zip
infra/worker.zip
lambda_layer/build

# Terraform saved plan files
infra/tfplan*
*.tfplan

# source files
src/__pycache__/*
src/core/__pycache__/*
src/features/__pycache__/*
src/lambdas/__pycache__/*
src/lambdas/api/__pycache__/*
src/lambdas/outbox_publisher/__pycache__/*
src/lambdas/registration_notification/__pycache__/*
src/lambdas/worker/__pycache__/*
src/registration_notification/__pycache__/*
src/providers/__pycache__/*
tools/__pycache__/*
tests/__pycache__/*

# temporarily generated build directory
build/*
